html, body {
    height: 100%;
}

body {
    margin: 0;
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    flex-basis: 60px;
    border-bottom: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
}

#content {
    flex: 1;
    display: flex;
}

#palette {
    flex-basis: 200px;
    border-right: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

#diagram {
    flex: 1;
    position: relative;
    display: flex;
}

#selectionInfo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#customTooltip {
    display: none;
    position: absolute;
    background: white;
    box-shadow: 0 1px 6px #b0b0b0;
    z-index: 2;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
}